@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.footer {
  @include flex-center;
  @include glass-shell;
  width: 100%;
  border-radius: 0;
  outline: none;
  height: max-content;
  flex-direction: row-reverse;
  margin-top: 20vh;
  border-top: 2px solid $purple-active-color;

  p {
    width: 80%;
    text-align: center;
    margin: 2vh 0vw;
  }

  button {
    @include glass-shell;
    width: max-content;
    border: none;
    color: $text-color;
    font-family: var(--comfortaa);
    padding: min(10px, 1vw);

    @media (hover: hover) {
      &:hover {
        outline-color: $purple-active-color;
        color: $green-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding-bottom: 1vh;

    button {
      padding: min(15px, 3vw) min(20px, 5vw);
    }
  }
}
