@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main {
  width: 100%;
  height: 100%;
  min-height: min-content;
  @include flex-center;
  flex-direction: column;
  row-gap: 7vh;
  transition: all ease-in-out 300ms;
  justify-content: center;
}
