$purple-color: #414370;
$light-purple-color: #9c9ff1;
$purple-active-color: #7653c8;
$purple-glass-color: rgba(65, 67, 112, 0.25);
$white-color: #ffffff;
$text-color: #ffffff;
$bg-color: #201b2f;
$green-color: #a8cd9f;
$liner-gradient: linear-gradient(90deg, #8e56d5, #5976e3);
$btn-bg-color: rgba(156, 160, 255, 0.6);
$error-color: #eb4335;
